* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

/*  ==================
    Typography
=====================  */

h1 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 2.1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.text {
  font-size: 0.9rem;
}

.name {
  font-weight: 700;
  font-size: 0.85rem;
}

.position {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 0.65rem;
  text-transform: uppercase;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: #a9a9a9;
}

/* ==================
    general layout
===================== */

.container {
  padding: 1.5em 1em;
  background: #fafafa;
}

.hero-title {
  margin-bottom: 1em;
}

.gallery {
  margin-top: 3.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.person {
  position: relative;
  width: 160px;
}

.person-right-mobile {
  margin-top: 3.5em;
}

.gallery > .person:nth-child(2) {
  margin-top: 3.5em;
}

.image {
  width: 85%;
  height: 210px;
  object-fit: cover;
}

.name {
  margin: 0;
  padding-top: 0.7em;
}

.position {
  position: absolute;
  width: 60%;
  margin: 0;
  right: -22%;
  top: 17%;
  transform: rotate(90deg);
}

.footer {
  margin-top: 6em;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  body {
    height: 100vh;
  }

  h1 {
    font-size: 2.25rem;
  }

  .subtitle,
  .text {
    font-size: 1.125rem;
  }

  .text {
    font-weight: 400;
  }

  .container {
    border: 2px solid red;
    max-width: 1200px;
    margin: 2em auto;
  }

  .hero {
    display: flex;
    justify-content: space-between;
  }

  .hero-title {
    padding: 0.7em 0;
  }

  .hero-sub {
    width: 45%;
    padding: 0 3em;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
  }
}
